
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>管理员列表</title>
<link rel="stylesheet" href="__ADMIN__/styles/backstage.css">
</head>

<body>
<div class="details">
                    <div class="details_operation clearfix">
                        <div class="bui_select">
                            <input type="button" value="添&nbsp;&nbsp;加" class="add"  onclick="">
                        </div>
                            
                    </div>
                    <!--表格-->
                    <table class="table" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th width="15%">ID号</th>
                                <th width="25%">管理员名称</th>
                                <th width="30%">管理员邮箱</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <volist name='admin_info' id='v'>
                            <tr>
                                <!--这里的id和for里面的c1 需要循环出来-->
                                <td><input type="checkbox" id="c1" class="check"><label for="c1" class="label"></label>{$v.id}</td>
                                <td>{$v.aname}</td>
                                <td>{$v.aemail}</td>
                                <td align="center">
                                <if condition="($_SESSION['aname'])">
                                <a href="{:U('Admin/deladmin',array('id'=>$v['id']))}"><input type="button" value="删除" class="btn"  onclick=""></a>  </if></td>
                            </tr>
                            </volist>
                            <tr>
                            	<td colspan="4">{$page }</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
</body>
</html>