<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>修改密码</h3>
<form  method="post">
<table width="70%" border="1" cellpadding="5" cellspacing="0" bgcolor="#cccccc">
	<tr>
		<td align="right">管理员名称</td>
		<td><input type="text" name="aname" value="{$Think.session.aname}"/>
        <input type="hidden" name="id" value="{$uppsd['id']}"/>
        </td>
	</tr>
	<tr>
		<td align="right">新密码</td>
		<td><input type="password" name="apassword" value=""/></td>
	</tr>

	<tr>
		<td colspan="2"><input type="submit" name="ok" value="确定"/></td>
	</tr>

</table>
</form>
</body>
</html>