@charset "utf-8";
/* CSS Document */

.footer{
	text-align:center;
	margin-bottom:auto;width:90%;margin:0px auto;
	}
.fenge{ border-bottom:2px solid #03C; margin-bottom:20px;}
.pinglun{ border:1px solid #9C3; margin:10px 0px;}
.fabiao{ margin-bottom:20px;}
#dierye{ display:none}
.footer2{
	width:1600px;
	}