@charset "utf-8";
/* CSS Document */

*{
	list-style:none;
}
a:visited,a:link{ color:#000}
.footer{
	text-align:center;
	margin-bottom:auto;width:90%;margin:0px auto;
	}
#tomorrow{ display:none}
.name{ color:#3366CC; font-size:20px;}.footer2{
	
	width:1600px;
	}