
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>-.-</title>
<link href="./styles/global.css"  rel="stylesheet"  type="text/css" media="all" />
<script type="text/javascript" charset="utf-8" src="../plugins/kindeditor/kindeditor.js"></script>
<script type="text/javascript" charset="utf-8" src="../plugins/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="__HOME__/scripts/jquery-1.6.4.js"></script>
<script>
       
</script>
</head>
<body>
<h3>添加商品</h3>
<form  method="post" enctype="multipart/form-data">
<table width="70%"  border="1" cellpadding="5" cellspacing="0" bgcolor="#cccccc">
	<tr>
		<td align="right">商品名称</td>
		<td><input type="text" name="gName"  placeholder="请输入商品名称"/></td>
	</tr>
	
	<tr>
		<td align="right">放映时间</td>
		<td><input type="text" name="gTime"  placeholder="请输入放映时间"/></td>
	</tr>
	<tr>
		<td align="right">片长</td>
		<td><input type="text" name="gRtime"  placeholder="请输入片长"/></td>
	</tr>
	<tr>
		<td align="right">语言</td>
		<td><input type="text" name="gLanguage"  /></td>
	</tr>
    <tr>
	<td align="right">版本</td>
	<td><input type="text" name="gVersion" /></td>
	</tr>
    <tr>
		<td align="right">空位</td>
		<td><input type="text" name="gSeat" /></td>
	</tr>
    <tr>
		<td align="right">价格</td>
		<td><input type="text" name="gPrice" /></td>
	</tr>
	
	<tr>
		<td colspan="2"><input type="submit"  value="发布商品"/></td>
	</tr>
</table>
</form>
</body>
</html>